@import '../../styles/app.scss';

.v-main__wrap {
  background: white;
  background-size: cover;
  padding: 70px $content-padding $content-padding;
}
// .content {
//   background-color: $body-bg;
// }
